<div class="container">
  <div class="row pt-5 mat-elevation-z8">
    <mat-table [dataSource]="products">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="tags">
        <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.tags}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="categories">
        <mat-header-cell *matHeaderCellDef> Categories </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.categories}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button class="btn btn-primary mr-2" [routerLink]="['edit-product', product.id]" routerLinkActive="active">Edit</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let product">
          <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
</div>
