<div class="container">
    <div class="row pt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Tags</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of data">
                    <td>{{ product.name }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>