table {
  width: 100%;
  font-family: Roboto, Helvetica Neue, snas-serif;
  text-align: left;
}

th {
  margin: 20px;
}

td {
  //   border-bottom-width: 1px;
  //   border-bottom-style: solid;
  padding: 10px;
  //   font-size: 14px;
  //   border-bottom-color: rgba(0,0,0,.12);
}
