<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 d-flex flex-column w-100">

      <div class="button-wrapper">
        <button [routerLink]="['add-product']"
                routerLinkActive="active"
                mat-raised-button
                color="primary">create product</button>
      </div>

      <app-products-table-filter (emitFilterSpecification)="filterValue()"></app-products-table-filter>

      <div>
        <app-products-table [pagList]="productList"></app-products-table>

        <app-products-table-fotter (paginatorValue)="getProductsList($event)"></app-products-table-fotter>
      </div>

    </div>
  </div>
</div>
