<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 d-flex flex-column w-100">
      <div class="button-wrapper">
        <button class="btn btn-primary" [routerLink]="['add-product']" routerLinkActive="active">create product</button>
      </div>
      <app-products-table-filter (emitFilterSpec)="filterValue($event)"></app-products-table-filter>
      <div>
        <app-products-table [listOfItems]="productList" [filterDate]="filterSpec"></app-products-table>
        <app-products-table-fotter (paginatorValue)="returnProductsList($event)"></app-products-table-fotter>
      </div>
    </div>
  </div>
</div>
