<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 d-flex flex-column w-100">
            <div class="h1 align-self-center">Products</div>
            <router-outlet></router-outlet>
            <div class="button-wrapper">
                <button class="btn btn-primary" [routerLink]="['/add-product']" routerLinkActive="active">create product</button>
            </div>
            <app-filter-component></app-filter-component>
            <app-product-list></app-product-list>
            <app-table-fotter></app-table-fotter>
        </div>
    </div>
</div>