<mat-form-field hintLabel="max 12 characters">
  <mat-label>Name</mat-label>
  <input [disabled]="disabled" #name type="text" name="name" placeholder="Name" matInput maxlength="12"
    [value]="initialValue" (input)="onValueChange($event.target.value)" (blur)="onBlur()">
  <!-- <mat-hint align="end">{{ name.value?.length }} / 12</mat-hint> -->
  <!-- <mat-error *ngIf="hasError("")">Too less characters</mat-error> -->
  <mat-error *ngIf="hasError && touched">Required field</mat-error>
</mat-form-field>
