<div class="container">
  <div class="row d-flex justify-content-center">

    <form class="text-center border border-gray p-5" [formGroup]="productFormGroup" (ngSubmit)="submitProduct()">

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" name="name" placeholder="Name" formControlName="name" matInput>
      </mat-form-field>

      <div formArrayName="tags">
        <h4>Tagi</h4>

        <div *ngFor="let tag of productFormGroup.controls.tags.value; let i = index">
          <input type="text" name="Tags" class="form-control mb-4" placeholder="Tags" [formControlName]="i">
        </div>

        <button type="button" class="btn mb-3" (click)="addtag()" mat-raised-button color="primary"> Dodaj tag </button>
      </div>

      <div *ngFor="let selectedCategory of productFormGroup.controls.categories.value; let i = index">
        <p>{{selectedCategory}}
          <button class="btn" (click)="removeCategory(i)">X</button>
        </p>
      </div>

      <mat-form-field>
        <mat-select name="Categories">
          <ng-container *ngFor="let category of categories; let i = index">
            <mat-option (onSelectionChange)="pickCategory(i)" *ngIf="category.selected == false" [value]="category">
              {{ category.category }} </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea type="text" name="description" class="eg1" placeholder="Description" formControlName="description"
          matInput> </textarea>
      </mat-form-field><br>

      <button type="submit" mat-raised-button color="primary">Save</button>
      <button type="submit" mat-raised-button color="warn">Undo</button>
    </form>
  </div>
  <button class="btn btn-primary mr-2" [routerLink]="['/product-managment/list']" routerLinkActive="active">Go
    back</button>
</div>
