<div class="container">
    <div class="row">
        <div class="tile">
            <a [routerLink]="['/kursy-walut']" routerLinkActive="active">
                <h2>Kursy walut NBP</h2>
            </a>
            <!-- <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
              </mat-card-header>
            </mat-card> -->

        </div>

        <div class="tile">
            <a [routerLink]="['/product-managment']" routerLinkActive="active">
                <h2>Zarządzanie produktami</h2>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="tile">
            <a [routerLink]="['/test-routing']" routerLinkActive="active">
                <h2>Routing test</h2>
            </a>
        </div>
        <div class="tile">
        </div>
    </div>
</div>
